:css 
    header {
        background-color: #4E786A
        }
    header .navbar {
        background-color: #4E786A
    }
    header .navbar .navbar-start .header__link:hover {
        background-color: #4E786A
    }
    header .navbar .navbar-menu {
        background-color: #4E786A
    }
    header .navbar .navbar-burger:hover {
        background-color: #4E786A
    }

.project-details__wrapper.project__cause-x-effect
    .project-details__cover-wrapper
    .container
        .project-details__content-wrapper
            .project-details__introduction-wrapper
                %h1.project-details__title
                    Cause x Effect
                .columns
                    .column.is-7
                        .project-details__intro-text-wrapper
                            %p.project-details__introduction
                                Editorial design for an experimental photography fanzine. The magazine includes dedicated sections for submissions, features, interviews, and techniques, each with its own distinct color and size to break away from traditional formats and lean into the experimental aspect of it. With a clean, minimalist layout, the design ensures that the photography remains the central focus.
                            .project-details__tags-wrapper
                                .project-details__tag.green
                                    Editorial Design
                                .project-details__tag.green
                                    Branding
                    .column.is-3.is-offset-2
                        .project-details__line
                            %h2.project-details__subtitle
                                Role
                            %p.project-details__subtitle-text
                                Art Direction, Editorial Design
                        .project-details__line
                            %h2.project-details__subtitle
                                Industry
                            %p.project-details__subtitle-text
                                Photography
                        .project-details__line
                            %h2.project-details__subtitle
                                Tools
                            %p.project-details__subtitle-text
                                InDesign, Illustrator
                        
            .project-details__colors-wrapper
                .columns
                    .column.is-6
                        .project-details_font.font1
                            %h3 Aa
                            %h4 Montserrat Black
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p
                                = render plain: "123456789!?/@#$%&()"
                        .project-details_font.font2
                            %h4 Montserrat Black Italic
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p
                                = render plain: "123456789!?/@#$%&()"
                        .project-details_font.font3
                            %h4 Montserrat Regular
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p 
                                = render plain: "123456789!?/@#$%&()"

                    .column.is-6
                        .columns.is-mobile.is-multiline.is-variable.is-1
                            .column.is-4
                                .project-details_color.color1.first-row
                                    %p 
                                        = render plain: "#000000"
                            .column.is-4
                                .project-details_color.color2.first-row
                                    %p 
                                        = render plain: "#4E786A"
                            .column.is-4
                                .project-details_color.color3.first-row
                                    %p 
                                        = render plain: "#BBDAD7"
                            .column.is-6
                                .project-details_color.color4.second-row
                                    %p 
                                        = render plain: "#E69B53"
                            .column.is-6
                                .project-details_color.color5.second-row
                                    %p 
                                        = render plain: "#EED6D9"
            
            .project-details__gallery-wrapper
                .columns
                    .column.is-6
                        = image_tag "causexeffect-p1.png"
                    .column.is-6
                        .projects__img-wrapper
                            = image_tag "causexeffect-p2.png"
                            = image_tag "causexeffect-p3.png"
                .columns
                    .column.is-6
                        = image_tag "causexeffect-p4.png"
                    .column.is-6
                        = image_tag "causexeffect-p5.png"
                .columns
                    .column.is-12
                        %p.projects__middle-text
                            Although the layout is minimalist, it employs an unconventional grid that aligns with the theme, giving the magazine a modern and original feel. This design choice breaks away from traditional magazine formats like the magazine encourages people to do in photography.
                .columns
                    .column.is-6
                        = image_tag "causexeffect-p6.png"
                    .column.is-6
                        = image_tag "causexeffect-p7.png"
                .columns
                    .column.is-12
                        .projects__img-wrapper
                            = image_tag "causexeffect-p8.png"
                .columns
                    .column.is-12
                        %p.projects__middle-text
                            The magazine utilizes a six-column grid for greater creative freedom. This structure allows for content to span multiple rows, or just one row, offering bigger arrangement possibilities for presenting information.
                .columns
                    .column.is-6
                        = image_tag "causexeffect-p9.png"
                    .column.is-6
                        = image_tag "causexeffect-p10.png"
                .columns
                    .column.is-6
                        .projects__img-wrapper
                            = image_tag "causexeffect-p11.png"
                            = image_tag "causexeffect-p12.png"
                    .column.is-6
                        = image_tag "causexeffect-p13.png"
                
