.project-details__wrapper.project__cause-x-effect
    .project-details__cover-wrapper
    .container
        .project-details__content-wrapper
            .project-details__introduction-wrapper
                .columns.is-centered.is-variable.is-6
                    .column.is-3
                        .project-details__line
                            %h1.project-details__title
                                Cause x Effect
                            %h2.project-details__subtitle
                                Role
                            %p.project-details__subtitle-text
                                Art Direction, Editorial Design
                        .project-details__line
                            %h2.project-details__subtitle
                                Industry
                            %p.project-details__subtitle-text
                                Photography
                        .project-details__line
                            %h2.project-details__subtitle
                                Tools
                            %p.project-details__subtitle-text
                                InDesign, Illustrator
                        .project-details__line
                            %h2.project-details__subtitle
                                Type
                            %p.project-details__subtitle-text
                                Personal Project
                    .column.is-8.is-offset-1-desktop
                        .project-details__intro-text-wrapper
                            %p
                                Editorial design for an experimental photography fanzine that celebrates image-making in all its forms. The magazine is broken into sections for submissions, features, interviews, and techniques, and each one has its own distinct color palette and sizing that sets it apart from the rest. The idea was to move away from the usual rigid magazine format and lean into the experimental nature of the publication, giving each section its own feel while still keeping everything tied together.
                            %p
                                Color and layout serves as a visual language that guides readers through the content in an intuitive way, making the experience of moving through the pages feel engaging. Everything sits on a clean, minimalist base that keeps the focus where it should be, on the images. The design steps back to let the work breathe, while still creating enough structure for readers to explore the different perspectives, stories, and insights that each artist brings to the table.
            .project-details__colors-wrapper
                .columns
                    .column.is-6
                        .project-details_font.font1
                            %h2 Aa
                            %h3 Montserrat Black
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p
                                = render plain: "123456789!?/@#$%&()"
                        .project-details_font.font2
                            %h3 Montserrat Black Italic
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p
                                = render plain: "123456789!?/@#$%&()"
                        .project-details_font.font3
                            %h3 Montserrat Regular
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p 
                                = render plain: "123456789!?/@#$%&()"

                    .column.is-6
                        .columns.is-mobile.is-multiline.is-variable.is-1
                            .column.is-4
                                .project-details_color.color1.first-row
                                    %p 
                                        = render plain: "#000000"
                            .column.is-4
                                .project-details_color.color2.first-row
                                    %p 
                                        = render plain: "#4E786A"
                            .column.is-4
                                .project-details_color.color3.first-row
                                    %p 
                                        = render plain: "#BBDAD7"
                            .column.is-6
                                .project-details_color.color4.second-row
                                    %p 
                                        = render plain: "#E69B53"
                            .column.is-6
                                .project-details_color.color5.second-row
                                    %p 
                                        = render plain: "#EED6D9"
            
            .project-details__gallery-wrapper
                .columns
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p1.webp", :loading => 'lazy'
                    .column.is-6
                        .projects__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p2.webp", :loading => 'lazy'
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p3.webp", :loading => 'lazy'
                .columns
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p4.webp", :loading => 'lazy'
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p5.webp", :loading => 'lazy'
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %p.eyebrow Design
                            %h2 Layout
                        .column.is-8
                            %p.projects__middle-text
                                Although the layout is minimalist, it employs an unconventional grid that aligns with the theme, giving the magazine a modern and original feel. This design choice breaks away from traditional magazine formats like the magazine encourages people to do in photography.
                .columns
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p6.webp", :loading => 'lazy'
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p7.webp", :loading => 'lazy'
                .columns
                    .column.is-12
                        .projects__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p8.webp", :loading => 'lazy'
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %p.eyebrow Design
                            %h2 Grid
                        .column.is-8
                            %p.projects__middle-text
                                The magazine utilizes a six-column grid for greater creative freedom. This structure allows for content to span multiple rows, or just one row, offering bigger arrangement possibilities for presenting information.
                .columns
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p9.webp", :loading => 'lazy'
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p10.webp", :loading => 'lazy'
                .columns
                    .column.is-6
                        .projects__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p11.webp", :loading => 'lazy'
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p12.webp", :loading => 'lazy'
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-p13.webp", :loading => 'lazy'
            .project-details__navigation-wrapper
                .columns.is-mobile
                    .column.is-3
                        = link_to "/graphic-design/ocean-spray", :class => "navigation-button" do
                            %p.back-btn
                                = image_tag "arrow-left", :class => "arrow-left"
                                %span.is-hidden-touch
                                    Back: Ocean Spray
                    .column.is-3.is-offset-6
                        = link_to "/graphic-design/social-media", :class => "navigation-button" do
                            %p.next-btn
                                %span.is-hidden-touch
                                    Next: Social Media
                                =image_tag "arrow-right", :class => "arrow-right"

            
