
.project-details__wrapper.project__everybodys-free
    .project-details__cover-wrapper
    .container
        .project-details__content-wrapper
            .project-details__introduction-wrapper
                .columns
                    .column.is-3
                        %h1.project-details__title
                            Everybody's Free (To Wear Sunscreen)
                        .project-details__line
                            %h2.project-details__subtitle
                                Role
                            %p.project-details__subtitle-text
                                Art Direction, Editorial Design
                        .project-details__line
                            %h2.project-details__subtitle
                                Industry
                            %p.project-details__subtitle-text
                                Print, Music
                        .project-details__line
                            %h2.project-details__subtitle
                                Tools
                            %p.project-details__subtitle-text
                                InDesign, Illustrator
                    .column.is-8.is-offset-1-desktop
                        .project-details__intro-text-wrapper
                            %p.project-details__introduction
                                An editorial design project built around a 1,000-word manifesto, formatted for an 11x17-inch page and designed for easy reading and distribution. The selected text was "Advice, Like Youth, Probably Just Wasted on the Young," a column by Mary Schmich that went viral and was later adapted into the song "Everybody's Free (to Wear Sunscreen)" by Baz Luhrmann.
                                %br
                                %br
                                Rather than laying the content flat, the page was folded to create a more dynamic, layered experience. The piece opens as a small book, with a cover and a brief introduction inside, then unfolds fully to reveal the complete lyrics across a poster-sized spread. The progression mirrors how the song itself builds, turning the act of reading into something closer to listening.
                                %br
                                %br
                                Visual rhythm was the central design concept, achieved through a 12-column grid, deliberate white space, and shaped elements that guide the eye from one section to the next. Phrases are separated to reflect natural pauses in the speech, giving the layout a cadence that follows the pacing of the original audio. The strictly black and white color palette keeps the focus on typography and composition, with Barlow Semi Condensed, Montserrat, and Orator Std working together to create contrast and hierarchy across the piece.
            .project-details__colors-wrapper
                .columns
                    .column.is-6
                        .project-details_font.font1
                            %h3 Aa
                            %h4 Barlow Semi Condensed Bold Italic
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p
                                = render plain: "123456789!?/@#$%&()"
                        .project-details_font.font2
                            %h4 Montserrat Black Italic
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p
                                = render plain: "123456789!?/@#$%&()"
                        .project-details_font.font3
                            = image_tag "orator.svg"

                    .column.is-6
                        .columns.is-mobile.is-multiline.is-variable.is-1.project-details__columns
                            .column.is-6
                                .project-details_color.color1
                                    %p 
                                        = render plain: "#000000"
                            .column.is-6
                                .project-details_color.color2
                                    %p 
                                        = render plain: "#FFFFFF"
                            
            
            .project-details__gallery-wrapper
                .columns
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/everybodys-free-cover.png", :class => "shadow-img", :loading => 'lazy'
                    .column.is-6
                        .projects__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/everybodys-free-back.png", :class => "shadow-img", :loading => 'lazy'
                .columns
                    .column.is-12
                        %p.projects__middle-text
                .columns
                    .column.is-12
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/everybodys-free-open.png", :loading => 'lazy'
                .columns
                    .column.is-12
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/everybodys-free-poster.png", :loading => 'lazy'
            .project-details__navigation-wrapper
                .columns.is-mobile
                    .column.is-4
                        = link_to "/graphic-design/wyndham-grand-rio-mar", :class => "navigation-button" do
                            %p.back-btn
                                = image_tag "arrow-left", :class => "arrow-left"
                                %span.is-hidden-touch
                                    Back: Wyndham Grand Rio Mar
                    .column.is-4.is-offset-4
                        = link_to "/graphic-design/ocean-spray", :class => "navigation-button" do
                            %p.next-btn
                                %span.is-hidden-touch
                                    Next: Ocean Spray
                                =image_tag "arrow-right", :class => "arrow-right"
                    
                
