:css 
    header {
        background-color: #FFFFFF
        }
    header .navbar {
        background-color: #FFFFFF
    }
    header .navbar .navbar-start .header__link:hover {
        background-color: #FFFFFF
    }
    header .navbar .navbar-menu {
        background-color: #FFFFFF
    }
    header .navbar .navbar-burger:hover {
        background-color: #FFFFFF
    }

    header .btn__wrapper .btn {
        color: #FFFFFF;
    }

    header .btn__wrapper .btn:hover {
        background-color: #FFFFFF;
        border: 3px solid #000000;
        color: #000000;
    }


.project-details__wrapper.project__everybodys-free
    .project-details__cover-wrapper
    .container
        .project-details__content-wrapper
            .project-details__introduction-wrapper
                %h1.project-details__title
                    Everybody's Free (To Wear Sunscreen)
                .columns
                    .column.is-7
                        .project-details__intro-text-wrapper
                            %p.project-details__introduction
                                Editorial design project for a 1,000-word manifesto, designed for easy distribution on an 11x17-inch white page, making it easy to read and share. The selected manifesto was "Advice, Like Youth, Probably Just Wasted on the Young," an article by Mary Schmich that gained viral popularity and was later transformed into the song "Everybody's Free (to Wear Sunscreen)" by Baz Luhrmann. Emphasizing the idea of "visual rhythm" to follow that of the song's, the final product became a small book that unfolded as the reader progressed, ending in a poster.
                    .column.is-4.is-offset-1
                        .project-details__line
                            %h2.project-details__subtitle
                                Role
                            %p.project-details__subtitle-text
                                Art Direction, Editorial Design
                        .project-details__line
                            %h2.project-details__subtitle
                                Industry
                            %p.project-details__subtitle-text
                                Print, Music
                        .project-details__line
                            %h2.project-details__subtitle
                                Tools
                            %p.project-details__subtitle-text
                                InDesign, Illustrator
                        
            .project-details__colors-wrapper
                .columns
                    .column.is-6
                        .project-details_font.font1
                            %h3 Aa
                            %h4 Barlow Semi Condensed Bold Italic
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p
                                = render plain: "123456789!?/@#$%&()"
                        .project-details_font.font2
                            %h4 Montserrat Black Italic
                            %p.uppercase abcdefghijklmnopqrstuvwxyz
                            %p abcdefghijklmnopqrstuvwxyz
                            %p
                                = render plain: "123456789!?/@#$%&()"
                        .project-details_font.font3
                            = image_tag "orator.svg"

                    .column.is-6
                        .columns.is-mobile.is-multiline.is-variable.is-1.project-details__columns
                            .column.is-6
                                .project-details_color.color1
                                    %p 
                                        = render plain: "#000000"
                            .column.is-6
                                .project-details_color.color2
                                    %p 
                                        = render plain: "#FFFFFF"
                            
            
            .project-details__gallery-wrapper
                .columns
                    .column.is-6
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/everybodys-free-cover.png", :class => "shadow-img"
                    .column.is-6
                        .projects__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/everybodys-free-back.png", :class => "shadow-img"
                .columns
                    .column.is-12
                        %p.projects__middle-text
                .columns
                    .column.is-12
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/everybodys-free-open.png"
                .columns
                    .column.is-12
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/everybodys-free-poster.png"
            .project-details__navigation-wrapper
                .columns.is-mobile
                    .column.is-4
                        = link_to "/graphic-design/wyndham-grand-rio-mar", :class => "navigation-button" do
                            %p.back-btn
                                = image_tag "arrow-left", :class => "arrow-left"
                                %span.is-hidden-touch
                                    Back: Wyndham Grand Rio Mar
                    .column.is-4.is-offset-4
                        = link_to "/graphic-design/ocean-spray", :class => "navigation-button" do
                            %p.next-btn
                                %span.is-hidden-touch
                                    Next: Ocean Spray
                                =image_tag "arrow-right", :class => "arrow-right"
                    
                
