.project-details__wrapper.project__intimates
    .project-details__cover-wrapper
    .container
        .project-details__content-wrapper
            .project-details__introduction-wrapper
                .columns.is-centered.is-variable.is-6
                    .column.is-3
                        %h1.project-details__title
                            Intimates
                        .project-details__line
                            %h2.project-details__subtitle
                                Role
                            %p.project-details__subtitle-text
                                Type design
                        .project-details__line
                            %h2.project-details__subtitle
                                Industry
                            %p.project-details__subtitle-text
                                Typography
                        .project-details__line
                            %h2.project-details__subtitle
                                Tools
                            %p.project-details__subtitle-text
                                Photoshop
                    .column.is-8.is-offset-1-desktop
                        .project-details__intro-text-wrapper
                            %p.project-details__introduction
                                A serif experimental typeface inspired by Eames Century Modern Bold Italic from House Industries, built entirely from photographs of pink underwear arranged and composed in Photoshop to form each character. Rather than designing digitally from scratch, each letter was constructed by physically shaping and capturing fabric, then assembling the photographs into a cohesive set spanning the full alphabet, numbers, and core symbols.
                                %br
                                %br
                                The typeface originated as an exploration of female pleasure and happiness and the small, personal ways women push through difficult days. The concept draws from the idea of "putting on your pretty big girl panties" as an act of quiet resilience, turning something intimate and everyday into a design system.
                                %br
                                %br
                                The letterforms are soft and chunky with generous curves, spirals, and serif adornments that lean into femininity without abandoning structure. The italic angle adds a romantic quality while keeping the overall feel grounded and pragmatic, a balance that felt intentional given the subject matter. Color does a lot of the work too, with the pink of the fabric carrying warmth and personality across every character. The result is a typeface that is experimental in process, personal in concept, and cohesive enough to function as a complete type system.
            .project-details__gallery-wrapper
                = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/intimates-letters.gif"
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %p.eyebrow Concept
                            %h3 Quote
                        .column.is-8
                            %p.projects__middle-text
                                "Lingerie and sexy underwear have been historically viewed as being for the partner's benefit only, but we’re in a time when women are empowering themselves, saying, 'This is good enough just for me to wear.'' And we can wear it whenever we want for how we want to feel in that day and moment.” - Psychologist Danielle Forshee
                = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/intimates-letters-2.png", :loading => 'lazy'
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %p.eyebrow Concept
                            %h3 Quote
                        .column.is-8
                            %p.projects__middle-text
                                “Wearing nice quality underwear or lingerie sets boost our confidence and self-esteem, even if no one sees it,” said Carolyn Mair, a behavioral psychologist, author of “The Psychology of Fashion” and founder of psychology.fashion.
                = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/intimates-phrase.png", :loading => 'lazy'
            .project-details__navigation-wrapper
                .columns.is-mobile
                    .column.is-4
                        = link_to "/graphic-design/social-media", :class => "navigation-button" do
                            %p.back-btn
                                = image_tag "arrow-left", :class => "arrow-left"
                                %span.is-hidden-touch
                                    Back: Social Media
                    .column.is-4.is-offset-4
                        = link_to "/graphic-design/wyndham-grand-rio-mar", :class => "navigation-button" do
                            %p.next-btn
                                %span.is-hidden-touch
                                    Next: Wyndham Grand Rio Mar
                                =image_tag "arrow-right", :class => "arrow-right"