:css 
    header {
        background-color: #BCD3E7;
        }
    header .navbar {
        background-color: #BCD3E7;
    }
    header .navbar .navbar-start .header__link:hover {
        background-color: #BCD3E7;
    }
    header .navbar .navbar-menu {
        background-color: #BCD3E7;
    }
    header .navbar .navbar-burger:hover {
        background-color: #BCD3E7;
    }

    header .btn__wrapper .btn {
        color: #BCD3E7;
    }

    header .btn__wrapper .btn:hover {
        background-color: #BCD3E7;
        border: 3px solid #000000;
        color: #000000;
    }

.project-details__wrapper.project__ocean-spray
    .project-details__cover-wrapper
    .project-details__content-wrapper
        .container
            .project-details__introduction-wrapper
                %h1.project-details__title
                    Ocean Spray
                .columns.is-centered.is-variable.is-6
                    .column.is-7
                        .project-details__intro-text-wrapper
                            %p.project-details__introduction
                                A marketing strategy proposal to captivate the Puerto Rican market and position Ocean Spray Chilled Juice as the leading brand in its category. By integrating online and offline channels, we developed compelling content that highlighted the product's unique benefits, fostered trust through targeted messaging, and generated excitement via robust media activations. The proposed tactical influencer program would create authentic conversations about the brand, while strong public relations efforts would build relationships with key media figures. Additionally, we proposed organizing sampling events to provide direct product experiences and continuously monitoring our strategies for optimization. Through this multifaceted approach, we aimed to enhance brand awareness and establish Ocean Spray Chilled Juice as the preferred choice in Puerto Rico, ultimately redefining refreshment in the chilled juice segment.
                    .column.is-4.is-offset-1
                        .project-details__line
                            %h2.project-details__subtitle
                                Role
                            %p.project-details__subtitle-text
                                Graphic Designer
                        .project-details__line
                            %h2.project-details__subtitle
                                Industry
                            %p.project-details__subtitle-text
                                Beverages
                        .project-details__line
                            %h2.project-details__subtitle
                                Tools
                            %p.project-details__subtitle-text
                                Illustrator, Photoshop
        .project-details__gallery-wrapper
            .container
                = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-1.png"
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %h5 Campaign Theme
                            %h3 Headline
                        .column.is-8
                            %p.projects__middle-text
                                For the headline, we chose "Sácale el jugo a tu bienestar." This phrase plays on the idea of juicing something while also meaning to make the most out of it in Spanish. In Puerto Rico, "sacarle el jugo a X" is a well-loved saying that encourages us to embrace every moment. It's like their own Puerto Rican version of "carpe diem," reminding us to live in the present and fully enjoy each day.
                .column.is-12
                    = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-2.png"
            .project-details__objectives-wrapper
                .container
                    .columns.is-multiline.is-variable.is-5
                        .column.is-12 
                            %h3 Objectives
                        .column.is-4
                            .project-details_objectives
                                = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/target.png"
                                %h4 Positioning
                                %p Implement a communication plan that positions Ocean Spray as the leading wellness brand in the Puerto Rican market, using targeted tactics to highlight the product's nutritional value and promote consumer health and well-being.
                        .column.is-4
                            .project-details_objectives
                                = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/target.png"
                                %h4 Regionalize
                                %p Captivate the Puerto Rican market by communicating a compelling value proposition that resonates with local values and culture, leveraging all the traditional and online resources at our disposal to build trust and foster long-term relationships tailored to the unique preferences of Puerto Rican consumers.
                        .column.is-4
                            .project-details_objectives
                                = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/target.png"
                                %h4 Promote trying it out.
                                %p Increase awareness among Puerto Rican consumers about Ocean Spray's new chilled juice range, showcasing its flavors and nutritional benefits through a creative launch and targeted strategies to boost brand recognition, promotes trying it out, and ensure local acceptance.
            .container
                = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-3.png"
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-3
                            %h5 Strategy
                            %h3 Offline Efforts
                        .column.is-8.is-offset-1
                            %p.projects__middle-text
                                Our holistic communication proposal focused on captivating the Puerto Rican market and establishing Ocean Spray's Chilled Juice as a leader in its category. This plan integrated strategic content development across both online and offline platforms, crafting targeted messages that fostered trust with our audience while proactively meeting their needs. Among the offline initiatives were the creation of eye-catching point-of-purchase (POP) materials such as stoppers, wobblers, and danglers, complemented by an endcap display. Additionally, we organized sampling events to boost product awareness and implemented ongoing monitoring to ensure continuous optimization of our efforts.
                .columns.is-multiline
                    .column.is-12
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/display-oc.jpg", class: "display"
                    .column.is-4
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/dangler-oc.png", class: "pop"
                    .column.is-4
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/wobbler-oc2.png", class: "pop"
                    .column.is-4
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/wobbler-oc.png", class: "pop"
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %h5 Strategy
                            %h3 Influencers
                        .column.is-8
                            %p.projects__middle-text
                                In conjunction with our offline initiatives, we launched a tactical influencer program that engaged personalities with relevant topics while encouraging product trials. This program also emphasized nurturing public relations by connecting with media figures and holistic health influencers to effectively spread our campaign message. As part of our outreach strategy, we created an attractive media kit that included two Ocean Spray Chilled Juices, a recipe book, and a personalized tag, all neatly packaged in a stylish tote bag.
                .columns.is-multiline
                    .column.is-4
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/cup-oc.jpg", class: "cup gallery__media"
                    .column.is-4
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/tote-oc.png", class: "tote gallery__media"
                    .column.is-4
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/tag-oc.png", class: "tag-oc gallery__media"
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %h5 Strategy
                            %h3 Sales Bundle
                        .column.is-8
                            %p.projects__middle-text
                                To further our objective of encouraging product trials, we proposed a partnership with RonPon, a virtual liquor store in Puerto Rico. As part of this collaboration, we suggested a promotion that would include a sample of Chilled Juice along with a flyer featuring a recipe and information about the product with every customer's order. This approach not only fosters product trials but also educates consumers about the nutritional benefits of Chilled Juice, all while delighting them with an unexpected gift.
                .columns.is-multiline.is-vcentered.is-centered
                    .column.is-two-fith
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/ronpon-oc.png"
                    .column.is-three-fifths
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/ronpon-post.png"
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %h5 Strategy
                            %h3 Social Media
                        .column.is-8
                            %p.projects__middle-text
                                We aimed to develop content in various formats that effectively communicates a compelling value proposition while addressing relevant topics related to the product and its audience. We highlighted the wellness and health benefits, emphasizing that it provides 100% of the daily Vitamin C and contains cranberries with antioxidant properties that strengthen the immune system. Additionally, we integrated the product into popular conversations promoting its nutritional value as part of a healthy lifestyle, positioning it as the ideal base for cocktails and mocktails. By focusing on the trendy concept of "skinny drinks," we bridge the perception of chilled juice as both a wellness beverage and a cocktail ingredient, promoting the balance of life that we all seek.
                .columns.is-centered.is-variable.is-1.carrousel
                    .column.is-4-widescreen.is-5-desktop.is-4-tablet
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/phone-oc.png", class: "phone-oc"
                    .column.is-narrow
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/mpp1.png", class: "mmp"
                    .column.is-narrow
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/mpp2.png", class: "mmp"
                .columns.is-variable.is-1
                    .column.is-one-fifth
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-post-1.png"
                    .column.is-one-fifth
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-post-2.gif"
                    .column.is-one-fifth
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-post-3.png"
                    .column.is-one-fifth
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-post-4.gif"
                    .column.is-one-fifth
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-post-5.png"
                .columns.is-multiline.is-centered.is-variable.is-1.is-vcentered
                    .column.is-3
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-story-1.gif"
                    .column.is-4
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-story-2.png"
                    .column.is-3
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/oc-story-3.gif"
                .project-details__navigation-wrapper
                    .columns.is-mobile
                        .column.is-4
                            = link_to "/graphic-design/everybodys-free", :class => "navigation-button" do
                                %p.back-btn
                                    = image_tag "arrow-left", :class => "arrow-left"
                                    %span.is-hidden-touch
                                        Back: Everybody is Free
                        .column.is-4.is-offset-4
                            = link_to "/graphic-design/cause-x-effect", :class => "navigation-button" do
                                %p.next-btn
                                    %span.is-hidden-touch
                                        Next: Cause x Effect
                                    =image_tag "arrow-right", :class => "arrow-right"



