:css 
    header {
        background-color: #E7DDFB
        }
    header .navbar {
        background-color: #E7DDFB
    }
    header .navbar .navbar-start .header__link:hover {
        background-color: #E7DDFB
    }
    header .navbar .navbar-menu {
        background-color: #E7DDFB
    }
    header .navbar .navbar-burger:hover {
        background-color: #E7DDFB
    }


.project-details__wrapper.project__social-media
    .project-details__cover-wrapper
    .container
        .project-details__content-wrapper
            .project-details__introduction-wrapper
                %h1.project-details__title
                    Social Media
                .columns
                    .column.is-7
                        .project-details__intro-text-wrapper
                            %p.project-details__introduction
                                A range of social media projects that highlight various methods of engaging with audiences. Each project illustrates how social media can be used to effectively share messages and connect with people. With a mix of themes and approaches, these examples reflect the adaptability of social media in reaching different demographics and addressing various topics. 
                            .project-details__tags-wrapper
                                .project-details__tag
                                    Social Media
                    .column.is-3.is-offset-2
                        .project-details__line
                            %h2.project-details__subtitle
                                Role
                            %p.project-details__subtitle-text
                                Art Direction, Graphic Design, Photography
                        .project-details__line
                            %h2.project-details__subtitle
                                Industry
                            %p.project-details__subtitle-text
                                Tech, Advertising, Finance, Beverages
                        .project-details__line
                            %h2.project-details__subtitle
                                Tools
                            %p.project-details__subtitle-text
                                Illustrator, Photoshop
                        
            .project-details__company-wrapper.gallery__company1
                %h3 Sharelov 
                .columns
                    .column.is-6
                        .project-details__description-wrapper
                            %p Social media for Sharelov, a marketing collaboration platform designed to streamline communication and enhance teamwork among marketing professionals.
                            %p Challenge: How can a new marketing management software establish a recognizable brand and successfully put themselves on the map?
                            %h4 Key Takeaways
                            %ul
                                %li 
                                    %strong Chasing Trends:
                                    As a marketing software, it is especially important to stay ahead of industry trends. We monitored and highlighted emerging trends to ensure relevance and enhanced engagement with our audience's evolving preferences.
                                %li 
                                    %strong User Generated Content:
                                    Leveraging user-generated content that reflects the brand image provided an opportunity to connect with new audiences who have similar interests and aesthetics.
                                %li 
                                    %strong Building Raport:
                                    Building rapport with followers on Instagram is crucial as it fosters trust and loyalty, leading to stronger relationships and increased engagement with the brand.
                                %li 
                                    %strong Content Mix:
                                    We ensured a diverse range of post themes to deliver added value to our audience, including memes, highlights of new social media features, blog posts, infographics, and social media tips.
                                
                    .column.is-3.is-offset-3-desktop.is-offset-2-tablet
                        .project-details__scope-wrapper
                            %h4 Project Scope
                            %ul
                                %li Art Direction
                                %li Graphic Design
                                %li Animation
                                %li Illustration
                                %li Photography
                                %li Photo editing

                .project-details__gallery-wrapper
                    .columns.is-vcentered.is-multiline
                        .column.is-4-desktop.is-12-tablet
                            = image_tag "sharelov-phone"
                        .column.is-8-desktop.is-12-tablet
                            .columns.is-mobile.is-multiline
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = video_tag("sharelov-video1.mp4", :controls => "true", :autobuffer => "true", :autoplay => "autoplay", :loop => "true", :class => "gallery__media")
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic2", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic3", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic4", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic5", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic6", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic7", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic8", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic9", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic10", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic11", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic12", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic13", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = video_tag("sharelov-vid14.mp4", :controls => "true", :autobuffer => "true", :autoplay => "autoplay", :loop => "true", :class => "gallery__media")
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic15", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "sharelov-pic16", :class => "gallery__media"
            .project-details__company-wrapper.gallery__company2
                %h3 Chat Agency
                .columns
                    .column.is-6
                        .project-details__description-wrapper
                            %p Social media for Chat Agency, a marketing and advertising company based out of Puerto Rico.
                            %p Challenge: How can we create original and engaging content that showcases the agency's expertise while effectively appealing to a diverse range of clients?
                            %h4 Key Takeaways
                            %ul
                                %li 
                                    %strong Maintaining Consistency:
                                    Balancing multiple clients while maintaining consistent posting and messaging for their own brand is especially important for building recognition and association with the agency.
                                %li    
                                    %strong Staying Current:
                                    Keeping up with the rapid changes in social media trends, algorithms, and best practices is vital for demonstrating the agency's added value to clients, especially for an agency focused on online campaigns.
                                %li
                                    %strong Showcasing Expertise:
                                    Effectively communicating their successes and expertise without seeming overly self-promotional requires a balanced approach to content.
                                %li 
                                    %strong Building Rapport:
                                    Building rapport with the audience on social media is essential for showcasing expertise and cultivating long-term client relationships.
                                
                    .column.is-3.is-offset-3-desktop.is-offset-2-tablet
                        .project-details__scope-wrapper
                            %h4 Project Scope
                            %ul
                                %li Art Direction
                                %li Graphic Design
                                %li Animation
                                %li Illustration
                .project-details__gallery-wrapper
                    .columns.is-vcentered.is-multiline
                        .column.is-4-desktop.is-12-tablet
                            = image_tag "chat-phone"
                        .column.is-8-desktop.is-12-tablet
                            .columns.is-mobile.is-multiline
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic1", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic2", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic3", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic4", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic5", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic6", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic7", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic8", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic9", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic10", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = video_tag("chat-vid11.mp4", :controls => "true", :autobuffer => "true", :autoplay => "autoplay", :loop => "true", :class => "gallery__media")
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic12", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic13", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = video_tag("chat-vid14.mov", :controls => "true", :autobuffer => "true", :autoplay => "autoplay", :loop => "true", :class => "gallery__media")
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic15", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "chat-pic16", :class => "gallery__media"
            .project-details__company-wrapper.gallery__company3
                %h3 Island Finance
                .columns
                    .column.is-6
                        .project-details__description-wrapper
                            %p Social media for Island Finance, The largest financial institution in Puerto Rico which serves over 70,000 clients by offering consumer loans and a wide array of financial products and services.
                            %p Challenge: How can a financial institution generate more leads while building brand trust and interest, all without adopting a somber tone?
                            %h4 Key Takeaways
                            %ul
                                %li 
                                    %strong Being Direct:
                                    Minimalistic ads that use large, bold headlines with monetary amounts and images of money typically achieve the best conversion rates and attract the most attention.
                                %li 
                                    %strong Trust and Reputation:
                                    Building trust and maintaining a positive reputation is crucial in the financial sector, as it fosters credibility and reassures potential customers about the security and reliability of their services.
                                %li 
                                    %strong Target Audience Identification:
                                    Identifying the right audience enables the creation of highly relevant content that directly addresses their concerns, aspirations, and realities, while also maximizing available resources.
                                %li 
                                    %strong Creating useful content:
                                    Audiences worldwide are seeking the right tools and information to make informed financial decisions, and sharing informative blog posts is an effective way to attract new customers and drive conversions.
                                %li 
                                    %strong Exploring interactivity:
                                    Incorporating interactive content elements can enhance audience participation, encourage actions, and promote ongoing engagement.
                    .column.is-3.is-offset-3-desktop.is-offset-2-tablet
                        .project-details__scope-wrapper
                            %h4 Project Scope
                            %ul
                                %li Art Direction
                                %li Graphic Design
                                %li Animation
                                %li Illustration
                                %li Photography
                                %li Photo editing

                .project-details__gallery-wrapper
                    .columns.is-vcentered.is-multiline
                        .column.is-4-desktop.is-12-tablet
                            = image_tag "if-phone"
                        .column.is-8-desktop.is-12-tablet
                            .columns.is-mobile.is-multiline
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic1", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic2", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic3", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic4", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic5", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic6", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic7", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic8", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic9", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic10", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic11", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic12", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic13", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic14", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic15", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "if-pic16", :class => "gallery__media"        
            .project-details__company-wrapper.gallery__company4
                %h3 Blue Moon
                .columns
                    .column.is-6
                        .project-details__description-wrapper
                            %p Social media for Blue moon, a Belgian White Belgian-Style Wheat Ale and their collection of seasonal and limited edition beers.
                            %p Challenge: How to stand out in a crowded craft beer market where many brands compete for attention.
                            %h4 Key Takeaways
                            %ul
                                %li 
                                    %strong Brand Identity:
                                    Understanding Blue Moon's best-sellers, what they're passionate about and how they connect with their audience, we get to the root of how to strengthen brand identity.
                                %li 
                                    %strong Emphasis on Craftsmanship:
                                    Highlighting the artisanal aspects of the brand enhances its appeal and connects with consumers who appreciate quality and craftsmanship.
                                %li 
                                    %strong Engagement with Local Communities:
                                    Actively participating in local art events and concerts fosters community engagement and strengthens brand loyalty among younger demographics.
                                
                    .column.is-3.is-offset-3-desktop.is-offset-2-tablet
                        .project-details__scope-wrapper
                            %h4 Project Scope
                            %ul
                                %li Art Direction
                                %li Graphic Design
                                %li Illustration
                                %li Photography
                                %li Photo editing

                .project-details__gallery-wrapper
                    .columns.is-vcentered.is-multiline
                        .column.is-4-desktop.is-12-tablet
                            = image_tag "bm-phone"
                        .column.is-8-desktop.is-12-tablet
                            .columns.is-mobile.is-multiline
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic1", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic2", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic3", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic4", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic5", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic6", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic7", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic8", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic9", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic10", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic11", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic12", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic13", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic14", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic15", :class => "gallery__media"
                                .column.is-3-desktop.is-4-tablet.is-6-mobile
                                    .gallery__img-wrapper
                                        = image_tag "bm-pic16", :class => "gallery__media"     