.project-details__wrapper.project__wyndham
    .project-details__cover-wrapper
    .container
        .project-details__content-wrapper
            .project-details__introduction-wrapper
                %h1.project-details__title
                    Wyndham Grand Rio Mar
                .columns.is-centered.is-variable.is-6
                    .column.is-7
                        .project-details__intro-text-wrapper
                            %p.project-details__introduction
                                A marketing campaign for Wyndham Grand Rio Mar which aimed to attract travelers to Río Grande while showcasing the advantages of the hotel's location. In the aftermath of Hurricane Maria, the resort — which was severely damaged during the storm — underwent a significant transformation. The campaign encouraged guests to rediscover Wyndham Grand Rio Mar and immerse themselves in a revitalized paradise, something away from their usual world. This initiative celebrated resilience and positioned the hotel as a serene escape.
                    .column.is-4.is-offset-1
                        .project-details__line
                            %h2.project-details__subtitle
                                Role
                            %p.project-details__subtitle-text
                                Art Direction, Graphic Design
                        .project-details__line
                            %h2.project-details__subtitle
                                Industry
                            %p.project-details__subtitle-text
                                Hotels & Hospitality
                        .project-details__line
                            %h2.project-details__subtitle
                                Tools
                            %p.project-details__subtitle-text
                                Illustrator, Photoshop
            .project-details__gallery-wrapper
                .columns
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/poster-1.png", :class => "gallery__media"
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/poster-2.png", :class => "gallery__media"
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/poster-3.png", :class => "gallery__media"
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/poster-4.png", :class => "gallery__media"
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %h5 Strategy
                            %h3 Concept
                        .column.is-8
                            %p.projects__middle-text
                                The campaign reimagined the hotel as a captivating new world. By framing images within squares to resemble windows, we provided a glimpse into this oasis. Each square invited viewers to peer into the hotel, highlighting the accommodations, stunning landscapes, and exceptional amenities that awaited on the other side.
                .columns.is-multiline
                    .column.is-12
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/billboard-1.png", :class => "gallery__media"
                    .column.is-4
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/billboard-2.png", :class => "gallery__media billboard"
                    .column.is-8
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/billboard-3.png", :class => "gallery__media billboard"
                .columns
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/stories-01.png", :class => "gallery__media"
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/stories-03.png", :class => "gallery__media"
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/stories-02.png", :class => "gallery__media"
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/stories-04.png", :class => "gallery__media"
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %h5 Strategy
                            %h3 Social Media
                        .column.is-8
                            %p.projects__middle-text
                                Building on the concept of a serene escape, the campaign introduced 15-second social media videos showcasing the landscapes nearby, such as El Yunque, the beach, sunrises, and the clouds viewed from your hotel balcony. Each video invited viewers to take a momentary break from their scrolling to relax and be transported into the tranquil beauty of the surroundings, allowing them to experience the essence of what it feels like to stay at the hotel.
                .columns.is-centered.is-vcentered
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/timelapse-2.gif", :class => "gallery__media timelapse"
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/timelapse-1.gif", :class => "gallery__media"
                    .column.is-3
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/timelapse-3.gif", :class => "gallery__media timelapse"
                .project-details__description-wrapper
                    .columns.is-variable.is-6
                        .column.is-4
                            %h5 Strategy
                            %h3 Bucket List
                        .column.is-8
                            %p.projects__middle-text
                                Throughout transformation, Wyndham Grand Rio Mar expanded its rebuilding efforts to benefit the surrounding community. In support of this initiative, we curated a list of 100 must-do experiences at one of TIME's 100 World's Greatest Places, designed for social media engagement and encouraging UGC. This list, crafted from a local perspective, provides unique insights into Puerto Rican life, revealing hidden gems and activities that only residents would know. By showcasing the advantages of staying in Río Grande over other popular tourist destinations, this effort not only enhanced the hotel’s image but also reinforced its commitment to supporting the local community.
                .columns.is-multiline    
                    .column.is-6
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/bucket-list-02.png", :class => "gallery__media bucket-list"
                    .column.is-6
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/bucket-list-01.png", :class => "gallery__media bucket-list"
                    .column.is-6
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/bucket-list-04.png", :class => "gallery__media bucket-list"
                    .column.is-6
                        .project-details__img-wrapper
                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/bucket-list-03.png", :class => "gallery__media bucket-list"
            .project-details__navigation-wrapper
                .columns.is-mobile
                    .column.is-4
                        = link_to "/graphic-design/intimates", :class => "navigation-button" do
                            %p.back-btn
                                = image_tag "arrow-left", :class => "arrow-left"
                                %span.is-hidden-touch
                                    Back: Intimates
                    .column.is-4.is-offset-4
                        = link_to "/graphic-design/everybodys-free", :class => "navigation-button" do
                            %p.next-btn
                                %span.is-hidden-touch
                                    Next: Everybody is Free
                                =image_tag "arrow-right", :class => "arrow-right"