.projects__wrapper
    .container
        %h3 Graphic Design Projects
        .columns.is-multiline.is-variable.is-6
            .column.is-4-desktop.is-6-tablet
                = link_to "http://www.google.com", :class => "project-button", :target => "blank" do
                    .projects__cover-wrapper
                        = image_tag 'oceanspray-preview.png', alt: 'Intimates'
                        .projects__arrow.blue
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Ocean Spray
                        %p.projects__project-description
                            360-degree marketing campaign for Ocean Spray designed to introduce the brand to health-conscious consumers and promote its wholesome benefits. 
                .tags__wrapper
                    .tags__project-tag
                        Marketing
                    .tags__project-tag
                        POP
                    .tags__project-tag
                        Social Media
                    
            .column.is-4-desktop.is-6-tablet
                = link_to "/graphic-design/cause-x-effect", :class => "project-button", :target => "blank" do
                    .projects__cover-wrapper
                        = image_tag 'causexeffect-preview.png', alt: 'Intimates'
                        .projects__arrow.yellow
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Cause x Effect
                        %p.projects__project-description
                            Fanzine design for Cause x Effect, an innovative magazine dedicated to exploring the art of experimental photography.
                .tags__wrapper
                    .tags__project-tag
                        Editorial Design
            .column.is-4-desktop.is-6-tablet
                = link_to "http://www.google.com", :class => "project-button", :target => "blank" do
                    .projects__cover-wrapper
                        = image_tag 'socialmedia-preview.png', alt: 'Intimates'
                        .projects__arrow.purple
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Social Media
                        %p.projects__project-description
                            A curated collection of creative social media campaigns that effectively engage and resonate with audiences.
                .tags__wrapper
                    .tags__project-tag
                        Social Media
            .column.is-4-desktop.is-6-tablet
                = link_to "/graphic-design/intimates", :class => "project-button", :target => "blank" do
                    .projects__cover-wrapper
                        = image_tag 'intimates-preview.png', alt: 'Intimates'
                        .projects__arrow.pink
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Intimates
                        %p.projects__project-description
                            An exploration of experimental typography crafted entirely from pink underwear, adding a playful touch to the written word.
                .tags__wrapper
                    .tags__project-tag
                        Experimental Typography
            .column.is-4-desktop.is-6-tablet
                = link_to "http://www.google.com", :class => "project-button", :target => "blank" do
                    .projects__cover-wrapper
                        = image_tag 'wyndham-preview.png', alt: 'Intimates'
                        .projects__arrow.red
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Wyndham Grand Rio Mar
                        %p.projects__project-description
                            360 Campaign for Wyndham Grand Rio Mar in Puerto Rico, which aimed to attract tourists to Río Grande and showcase the advantages of the hotel's location.
                .tags__wrapper
                    .tags__project-tag
                        Marketing
                    .tags__project-tag
                        Art Direction
            .column.is-4-desktop.is-6-tablet
                = link_to "graphic-design/everybodys-free", :class => "project-button", :target => "blank" do
                    .projects__cover-wrapper
                        = image_tag 'everybody-preview.png', alt: 'Intimates'
                        .projects__arrow.green
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Everybody's Free
                        %p.projects__project-description
                            Editorial design project for a 1,000-word manifesto, designed for easy distribution on an 11x17-inch white page, making it simple to read and share.
                .tags__wrapper
                    .tags__project-tag
                        Editorial Design
