.hero__wrapper
    .container
        .hero__text
            .h2
                .columns.is-variable.is-gapless.is-multiline
                    .column.is-narrow-desktop.is-12-touch.hero__wave-wrapper
                        = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/wave.svg', alt: 'wave', class: 'wave-wrapper__wave-img'
                    .column.is-narrow-desktop.is-12-touch.hero__small-text
                        %p Hi, my name is Nicole Redacted and I'm a...
            %h1.hero__big-text
                #hero__variable-text
                %span
                    Designer &
                %br
                    Front End Developer

.projects__wrapper
    .container
        %h3 Projects
        .columns.is-variable.is-5
            .column.is-4-desktop.is-6-tablet
                = link_to "http://www.google.com", :class => "project-button", :target => "blank" do
                    .projects__cover-wrapper
                        = inline_svg('project-cover.svg')
                        .projects__arrow.green 
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Project title
                        %p.projects__project-description
                            Website redesign for Island Finance, the leading company in personal loans in Puerto Rico. 
            .column.is-4-desktop.is-6-tablet
                = link_to "http://www.google.com", :class => "project-button", :target => "blank" do
                    .projects__cover-wrapper
                        = inline_svg('project-cover.svg')
                        .projects__arrow.green 
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Project title
                        %p.projects__project-description
                            Website redesign for Island Finance, the leading company in personal loans in Puerto Rico. 
            .column.is-4-desktop.is-hidden-tablet-only	
                = link_to "http://www.google.com", :class => "project-button", :target => "blank" do
                    .projects__cover-wrapper
                        = inline_svg('project-cover.svg')
                        .projects__arrow.yellow
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Project title
                        %p.projects__project-description
                            Website redesign for Island Finance, the leading company in personal loans in Puerto Rico.
        .btn__wrapper
            = link_to "View All Projects", "/ux-ui", :class => "btn"


.scrolling-text__wrapper
    .scrolling-text__items
        .scrolling-text__item
            %p
                UX/UI design
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Front End Development
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Art Direction
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Branding
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Advertising
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Marketing
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Social Media
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Typography
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                UX Research
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
    .scrolling-text__items
        .scrolling-text__item
            %p
                UX/UI design
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Front End Development
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Art Direction
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Branding
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Advertising
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Marketing
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Social Media
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                Typography
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
            %p
                UX Research
            %span
                = image_tag 'flower.png', alt: '-', class: 'scrolling-text__items-img'
        
.about-home__wrapper
    .container
        .columns.is-veriable.is-gapless
            .column.is-6
                .about-home__text-wrapper
                    %h3 About Me
                    %p
                        My name is Nicole Redacted and I'm currently based in New York. My main areas of focus are Graphic and UX/UI Design and Front End Development. 
                    .btn__wrapper
                        = link_to "Find out more", "/about", :class => "btn"
            .column.is-6

.brands-home__wrapper
    .container
        %h3 Brands
        .columns.is-multiline.is-variable.is-6.is-mobile.is-centered
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/titos-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/bacardi-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/bm-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/redds-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/os-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/kinder-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/brookfield-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/drh-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/badbunny-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/cultura-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/uber-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/ath-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/evertec-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/cricket-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/att-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/kia-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/wyndham-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/marriot-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/lo-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/loreal-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourthd-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/chat-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/share-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-one-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/bv-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/if-logo.png', alt: '-', class: 'logo-img'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/triples-logo.png', alt: '-', class: 'logo-img'

.contact-home__wrapper
    .container
        %h2 Ready to work together?
        .btn__wrapper
            = link_to "Get Started", "/contact", :class => "btn"

        


