.hero__wrapper
    .container
        .hero__text
            .h2
                .columns.is-variable.is-gapless.is-multiline
                    .column.is-narrow-desktop.is-12-touch.hero__wave-wrapper
                        = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/wave.svg', alt: 'wave', class: 'wave-wrapper__wave-img'
                    .column.is-narrow-desktop.is-12-touch.hero__small-text
                        %p Hi, my name is Nicole Salazar and I'm a...
            %h1.hero__big-text
                #hero__variable-text
                %span
                    Designer &
                %br
                    Front End Developer

.projects__wrapper
    .container
        %h3 Projects
        .columns.is-variable.is-5
            .column.is-4-desktop.is-6-tablet
                = link_to "/ux-ui/island-finance-web", :class => "project-button" do
                    .projects__cover-wrapper
                        = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/ifpreview.png', alt: 'Island Finance Case Study', loading: 'lazy'
                        .projects__arrow.blue
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Island Finance
                        %p.projects__project-description
                            A website redesign for Puerto Rico's go-to personal loan provider, built around clarity, trust, and financial accessibility. 
            .column.is-4-desktop.is-6-tablet
                = link_to "/ux-ui/dr-harveys", :class => "project-button" do
                    .projects__cover-wrapper
                        = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/drhpreview.png', alt: 'Dr.Harveys Case Study', loading: 'lazy'
                        .projects__arrow.pink
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Dr. Harvey's
                        %p.projects__project-description
                            How a cleaner, more intentional web presence helped Dr. Harvey's communicate trust, transparency, and wholesome care.
            .column.is-4-desktop.is-hidden-tablet-only	
                = link_to "/graphic-design/ocean-spray", :class => "project-button" do
                    .projects__cover-wrapper
                        = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/oceanspraypreview.png', alt: 'Ocean Spray', loading: 'lazy'
                        .projects__arrow.red
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Ocean Spray
                        %p.projects__project-description
                            Marketing campaign for Ocean Spray designed to introduce the brand to health-conscious consumers and promote its wholesome benefits.
        .btn__wrapper
            = link_to "View All Projects", "/ux-ui", :class => "btn"


.scrolling-text__wrapper
    .scrolling-text__items
        .scrolling-text__item
            %p
                UX/UI design
            %span
                = inline_svg('design-icon.svg')
            %p
                Front End Development
            %span
                = inline_svg('design-icon.svg')
            %p
                Art Direction
            %span
                = inline_svg('design-icon.svg')
            %p
                Branding
            %span
                = inline_svg('design-icon.svg')
            %p
                Advertising
            %span
                = inline_svg('design-icon.svg')
            %p
                Marketing
            %span
                = inline_svg('design-icon.svg')
            %p
                Social Media
            %span
                = inline_svg('design-icon.svg')
            %p
                Typography
            %span
                = inline_svg('design-icon.svg')
            %p
                UX Research
            %span
                = inline_svg('design-icon.svg')
    .scrolling-text__items
        .scrolling-text__item
            %p
                UX/UI design
            %span
                = inline_svg('design-icon.svg')
            %p
                Front End Development
            %span
                = inline_svg('design-icon.svg')
            %p
                Art Direction
            %span
                = inline_svg('design-icon.svg')
            %p
                Branding
            %span
                = inline_svg('design-icon.svg')
            %p
                Advertising
            %span
                = inline_svg('design-icon.svg')
            %p
                Marketing
            %span
                = inline_svg('design-icon.svg')
            %p
                Social Media
            %span
                = inline_svg('design-icon.svg')
            %p
                Typography
            %span
                = inline_svg('design-icon.svg')
            %p
                UX Research
            %span
                = inline_svg('design-icon.svg')
        
.about-home__wrapper
    .container 
        .about-home__text-wrapper
            %h3 I'm Nicole, a designer and front end developer from Dominican Republic, based in New York.
            %p
                I specialize in Graphic and UX/UI Design and Front End Development. In over 6 years I've worked with a range of clients across wellness, finance, tech, and entertainment. Because I understand both sides of the process, I create work that is as thoughtful as it is functional. I bring a meticulous eye, a love for experimentation, and a commitment to creating work that is engaging, and leaves a lasting impression. 
            .btn__wrapper
                = link_to "Get to Know Me", "/about", :class => "btn"
.brands-home__wrapper
    .container
        %h3 Brands
        .columns.is-multiline.is-variable.is-6.is-mobile.is-centered
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/titos-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/bacardi-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/bm-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/redds-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/os-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/kinder-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/brookfield-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/drh-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/badbunny-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/cultura-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/uber-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/ath-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/evertec-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/cricket-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/att-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/kia-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/wyndham-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/marriot-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/lo-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/loreal-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourthd-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/chat-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/share-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-one-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/bv-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/if-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'
            .column.is-one-fifth-desktop.is-one-fourth-tablet.is-half-mobile
                .brands-home__img-wrapper
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/triples-logo.png', alt: '-', class: 'logo-img', loading: 'lazy'

.contact-home__wrapper
    .container
        %h2 Ready to work together?
        .btn__wrapper
            = link_to "Get Started", "/contact", :class => "btn"

        


