.projects__wrapper
    .container
        %h3 UX/UI Projects
        .columns.is-multiline.is-variable.is-6
            .column.is-4-desktop.is-6-tablet
                = link_to "/ux-ui/island-finance-web", :class => "project-button" do
                    .projects__cover-wrapper
                        = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/islandfinance-preview.webp', alt: 'Island Finance Case Study'
                        .projects__arrow.blue
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Island Finance
                        %p.projects__project-description
                            A website redesign for Puerto Rico's go-to personal loan provider, built around clarity, trust, and financial accessibility.
                .tags__wrapper
                    .tags__project-tag
                        UX Research
                    .tags__project-tag
                        UX/UI Design
                    .tags__project-tag
                        Branding
                    
            .column.is-4-desktop.is-6-tablet
                = link_to "/ux-ui/dr-harveys", :class => "project-button" do
                    .projects__cover-wrapper
                        = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/drharveys-preview.webp', alt: 'Dr.Harveys Case Study'
                        .projects__arrow.pink
                            = inline_svg('arrow.svg')
                    .project__project-summary
                        %h4 Dr. Harvey's
                        %p.projects__project-description
                            How a cleaner, more intentional web presence helped Dr. Harvey's communicate trust, transparency, and wholesome care.
                .tags__wrapper
                    .tags__project-tag
                        UX/UI Design
                    .tags__project-tag
                        User Testing