.case-study__wrapper.case-study__if-web
    .case-study__cover-wrapper
    .case-study__content-wrapper
        .container
            .columns.is-centered.is-variable.is-6
                .column.column.is-3
                    .case-study__details-wrapper
                        %h1 Island Finance Website
                        .case-study__details-line
                            %h2.case-study__subtitle
                                Role
                            %p.case-study__subtitle-text
                                Art Direction, Editorial Design
                        .case-study__details-line
                            %h2.case-study__subtitle
                                Industry
                            %p.case-study__subtitle-text
                                Photography
                        .case-study__details-line
                            %h2.pcase-study__subtitle
                                Tools
                            %p.case-study__subtitle-text
                                InDesign, Illustrator
                .column.is-8.is-offset-1
                    .case-study__intro-text-wrapper
                        %p.case-study__introduction
                            Island Finance has a long history in Puerto Rico, with its roots dating back to 1959. It has distinguished itself by playing a vital role in the economic development of Puerto Rico, successfully establishing itself as a leader in personal loans across the Island. Today, they have 49 branches all around the country.
                        %p.case-study__introduction
                            As a customer-focused personal loan company, Island Finance is committed to understanding and meeting the needs of its customers through digital transformation and innovative solutions. Their mission is to simplify the process of borrowing for a wide range of consumer purposes by taking the hassle out of getting a loan.
                        %p.case-study__introduction
                            In order to maintain their position as a top personal loan company, Island Finance recognized the need to update their website to create a digital product that represents their values and vision and adapted their service to present-day needs.
                        %p.case-study__introduction
                            Our goal with this project was to create a seamless and intuitive website to increase conversion and optimize customers’ existing experience based on user research and UX opportunities.
        .case-study__project-scope-wrapper
            .case-study__project-scope
                %h3 Project Scope
                .columns.is-centered.is-variable.is-8
                    .column.is-3
                        .case-study__step
                            = inline_svg('discover-icon.svg')
                            %h4 Discover
                            %ul
                                %li
                                    = link_to "Industry Insights", "#insights"
                                %li 
                                    = link_to "Competitive Audit", "#audit"
                                %li
                                    = link_to "User Interviews", "#interviews"
                    .column.is-3
                        .case-study__step
                            = inline_svg('define-icon.svg')
                            %h4 Define
                            %ul
                                %li
                                    = link_to "Problem Statement", "#problem"
                                %li 
                                    = link_to "Project Goals", "#goals"
                                %li
                                    = link_to "User Personas", "#personas"
                    .column.is-3
                        .case-study__step
                            = inline_svg('ideate-icon.svg')
                            %h4 Ideate
                            %ul
                                %li
                                    = link_to "Brainstorming", "#brainstorming"
                                %li 
                                    = link_to "Features Roadmap", "#features"
                                %li
                                    = link_to "Information Architecture", "#architecture"
                                %li
                                    = link_to "User Flows", "#flows"
                    .column.is-3
                        .case-study__step
                            = inline_svg('design-icon.svg')
                            %h4 Design
                            %ul
                                %li
                                    = link_to "Low-fi Wireframes", "#lowfi"
                                %li 
                                    = link_to "Design System", "#design"
                                %li
                                    = link_to "High-fi Wireframes", "#highfi"
        
        .case-study__industry-insights#insights
            .container
                .columns.is-variable.is-6
                    .column.is-3
                        %h5 Industry Insights
                        %h3 Personal Loans
                    .column.is-8.is-offset-1
                        %p
                            As of Q2 2024, 23.9 million Americans owe a total of $246 billion in personal loans, with an average debt of $11,687 per borrower.
                            %span
                                Most borrowers (51.3%) use personal loans to consolidate debt or refinance credit cards,
                            while 8.1% use them for everyday bills and 7.2% for home improvements.

                        %p
                            Traditional banks are projected to dominate this market, expecting a volume of $15.34 billion in 2024, with growth to $19.80 billion by 2029 in Puerto Rico.
                            %span
                                Banks which have a long-established presence and offer a wide range of financial services,
                            will and currently hold a significant share of the market in Puerto Rico.

                        %p
                            There are two significant emerging trends in banking. The first trend is the
                            %span
                                emphasis on financial inclusion,
                            with banks reaching out to underserved communities and offering tailored products. The second trend being
                            %span
                                shift toward digital solutions
                            to cater to a tech-savvy population, reflecting a global trend in banking.

                        %p Puerto Rico's unique status as a U.S. territory creates both opportunities and challenges for its banking industry. The local economy's ties to the U.S. influence regulations and market dynamics, while factors like trade agreements, federal policies, and recovery from natural disasters play crucial roles in the banking sector's health.
                        
                        .case-study__takeaways
                            .columns.is-multiline.is-variable.is-3
                                .column.is-6
                                    .case-study-quote
                                        %p "Customers in Puerto Rico are increasingly leaning towards digital banking solutions, driven by the convenience and efficiency they offer."
                                .column.is-6
                                    .case-study-quote
                                        %p "Most borrowers (51.3%) take out a personal loan to consolidate debt or refinance credit cards. The next most popular uses for a personal loan are paying for everyday bills (8.1%) and home improvements (7.2%)."
                                .column.is-6
                                    .case-study-quote
                                        %p "Banks which offer a wide range of financial services, will and currently hold a significant share of the market in Puerto Rico."
                                .column.is-6
                                    .case-study-quote
                                        %p "The average personal loan debt per borrower is $11,687 as of the second quarter of 2024."
            
        .case-study__competitive-audit#audit
            .container
                .columns.is-variable.is-6
                    .column.is-3
                        %h5 Competitive Audit
                        %h3 Understanding the market
                    .column.is-8.is-offset-1
                        %p In order to assess the strengths and weaknesses of both direct and indirect competitors in the personal loan sector, I analyzed four websites dedicated to this industry. The goal was to gain insight into the current offerings, identify areas for enhancement, and uncover any gaps or unmet needs within the sector.
                        = image_tag "if-competition-analysis"
        .case-study__user-interviews#interviews
            .container
                .columns.is-variable.is-6
                    .column.is-3
                        %h5 User Intervies
                        %h3 Understanding users
                    .column.is-9
                        %p In order to comprehend users' experiences within Island Finance, we focused on their interactions and feedback with the business. Here's what they said:
                        .case-study__takeaways
                            .columns.is-multiline.is-variable.is-3
                                .column.is-6
                                    .case-study-quote
                                        %p "They should invest to improve the Banking Network Architecture with a good IT team to make it convenient enough for the customer. I genuinely do not recommend this or any other bank that does not have good IT service…"
                                .column.is-6
                                    .case-study-quote
                                        %p "I'm still paying a loan that I took out for 2,500, I ended up paying 5,000. The APR is 32.% Something that has to be taken into account, I didn't know because it was my first time. Don't borrow here."
                                .column.is-6
                                    .case-study-quote
                                        %p "They do not explain the difference between changing a debit date vs changing the loan payment date, which turns out to be two completely different things. It took 3 calls for someone to satisfactorily guide me."
                                .column.is-6
                                    .case-study-quote
                                        %p "Phantom charges, and they want to charge surcharges for cashier errors. The cashier swiped the card for .10 cents less and they want to charge me $10 more for “allegedly” not having paid on time."
        .case-study__problem-statement#problem
            .container
                .columns
                    .column.is-3
                        %h5 Challenges
                        %h3 Problem Statement
                    .column.is-8.is-offset-1
                        %p The necessity to upgrade Island Finance's banking app became clear after analyzing competitors and gathering user feedback. With an increasing demand for digital services among clients, this enhancement is crucial for the company's future growth.
                        %p The current website lacked essential features and made it difficult for users to perform tasks like calculating loan payments, making online payments, and accessing loan information. This led to confusion regarding their financial situations. Additionally, the outdated design reinforced the perception of Island Finance as a traditional and complicated company, which did not align with the company's brand image and value proposition.
        .case-study__project-goals#goals
            .container
                .columns
                    .column.is-3
                        %h5 Objectives
                        %h3 Revewing project goals
                    .column.is-8.is-offset-1
                        %p While the primary business objectives centered on maximizing user conversion and generating leads by clearly communicating the functionality of the application, we successfully identified the areas where these objectives intersected with that of users by using our research into Island Finance's customers.
                        %p Our goal was to enhance customer service by thoroughly reimagining and rebuilding the user journey based on Island Finance's user needs. We sought to position the company as a friendly and trustworthy partner in digital personal loans. The team's mission was to empower users to make informed financial choices and monitor their finances effectively, ultimately enhancing the overall quality of life for customers while still fulfilling the business's goals.
                        = image_tag "if-goals"
        .case-study__personas#personas
            .container
                .case-study__personas-text
                    %h5 Users
                    %h3 Personas
            .swiper.personasSwiper
                .swiper-wrapper
                    .swiper-slide
                        = image_tag "if-persona-christine"
                    .swiper-slide
                        = image_tag "if-persona-luis"
                    .swiper-slide
                        = image_tag "if-persona-couple"
                .swiper-button-next
                .swiper-button-prev
