.case-study__wrapper.case-study__if-web
    .case-study__cover-wrapper
    .case-study__content-wrapper
        .container
            .columns.is-centered.is-variable.is-6-desktop
                .column.column.is-3
                    .case-study__details-wrapper
                        %h1 Island Finance Website
                        .case-study__details-line
                            %h2.case-study__subtitle
                                Role
                            %p.case-study__subtitle-text
                                UX Research, Product Design, UX/UI Design
                        .case-study__details-line
                            %h2.case-study__subtitle
                                Industry
                            %p.case-study__subtitle-text
                                Finance
                        .case-study__details-line
                            %h2.pcase-study__subtitle
                                Tools
                            %p.case-study__subtitle-text
                                Adobe XD, Whimsical
                        .btn__wrapper
                            = link_to "View Full Case Study", "/ux-ui/island-finance-web", :class => "btn"
                .column.is-8.is-offset-1-desktop
                    .case-study__intro-text-wrapper
                        %p.case-study__introduction
                            Island Finance has a long history in Puerto Rico, with its roots dating back to 1959. It has distinguished itself by playing a vital role in the economic development of Puerto Rico, successfully establishing itself as a leader in personal loans across the Island. Today, they have 49 branches all around the country.
                        %p.case-study__introduction
                            As a customer-focused personal loan company, Island Finance is committed to understanding and meeting the needs of its customers through digital transformation and innovative solutions. Their mission is to simplify the process of borrowing for a wide range of consumer purposes by taking the hassle out of getting a loan.
                        %p.case-study__introduction
                            In order to maintain their position as a top personal loan company, Island Finance recognized the need to update their website to create a digital product that represents their values and vision and adapted their service to present-day needs.
                        %p.case-study__introduction
                            Our goal with this project was to create a seamless and intuitive website to increase conversion and optimize customers’ existing experience based on user research and UX opportunities.
        .case-study__short-introduction
            .container
                .short-introduction__section
                    .columns.is-variable.is-6-desktop
                        .column.is-3
                            %h5 Snapshot
                            %h3 The User
                        .column.is-8.is-offset-1-desktop
                            %p The website was designed for people in Puerto Rico, mainly middle aged, who were looking for personal loans. Many of them were managing tight budgets, facing unexpected expenses, or working to rebuild their credit. Some users were not very comfortable navigating financial websites or understanding loan terms.
                .short-introduction__section
                    .columns.is-variable.is-6-desktop
                        .column.is-3
                            %h5 Snapshot
                            %h3 The Problem
                        .column.is-8.is-offset-1-desktop
                            %p The existing website was outdated, difficult to navigate, and inconsistent in both structure and tone. Users struggled to find information about loans, eligibility, and partner services, leading to frustration and feeling taken advantage of. From a business perspective, the site also lacked flexibility for new content, promotions, and compliance updates.
                .short-introduction__section    
                    .columns.is-variable.is-6-desktop
                        .column.is-3
                            %h5 Snapshot
                            %h3 The Importance
                        .column.is-8.is-offset-1-desktop
                            %p This redesign aimed to modernize Island Finance’s digital presence, making it more trustworthy, inclusive, and easy to use for a wide range of audiences. Beyond improving usability, the project helped the company strengthen its credibility, align with brand goals, and better connect with customers online.
        .case-study__competitive-audit
            .anchor#audit
            .container
                .columns.is-variable.is-6-desktop
                    .column.is-3
                        %h5 Competitive Audit
                        %h3 Understanding the market
                    .column.is-8.is-offset-1-desktop
                        %p In order to assess the strengths and weaknesses of both direct and indirect competitors in the personal loan sector, I analyzed four websites dedicated to this industry. The goal was to gain insight into the current offerings, identify areas for enhancement, and uncover any gaps or unmet needs within the sector.
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/if-competition-analysis.png"
        .case-study__user-interviews
            .anchor#interviews
            .container
                .columns.is-variable.is-6-desktop
                    .column.is-3
                        %h5 User Interviews
                        %h3 Understanding users
                    .column.is-8.is-offset-1
                        %p In order to comprehend users' experiences within Island Finance, we focused on their interactions and feedback with the business. Here's what they said:
                        .case-study__takeaways
                            .columns.is-multiline.is-variable.is-3-desktop
                                .column.is-6
                                    .case-study-quote
                                        %p "They should invest to improve the Banking Network Architecture with a good IT team to make it convenient enough for the customer. I genuinely do not recommend this or any other bank that does not have good IT service…"
                                .column.is-6
                                    .case-study-quote
                                        %p "I'm still paying a loan that I took out for 2,500, I ended up paying 5,000. The APR is 32.% Something that has to be taken into account, I didn't know because it was my first time. Don't borrow here."
                                .column.is-6
                                    .case-study-quote
                                        %p "They do not explain the difference between changing a debit date vs changing the loan payment date, which turns out to be two completely different things. It took 3 calls for someone to satisfactorily guide me."
                                .column.is-6
                                    .case-study-quote
                                        %p "Phantom charges, and they want to charge surcharges for cashier errors. The cashier swiped the card for .10 cents less and they want to charge me $10 more for “allegedly” not having paid on time."
        .case-study__problem-statement
            .anchor#problem
            .container
                .columns
                    .column.is-3
                        %h5 Challenges
                        %h3 Problem Statement
                    .column.is-8.is-offset-1-desktop
                        %p The necessity to upgrade Island Finance's banking app became clear after analyzing competitors and gathering user feedback. With an increasing demand for digital services among clients, this enhancement is crucial for the company's future growth.
                        %p The current website lacked essential features and made it difficult for users to perform tasks like calculating loan payments, making online payments, and accessing loan information. This led to confusion regarding their financial situations. Additionally, the outdated design reinforced the perception of Island Finance as a traditional and complicated company, which did not align with the company's brand image and value proposition.
        .case-study__main-concerns
            .anchor#concerns
            .container
                .columns
                    .column.is-3
                        %h5 Main Concerns
                        %h3 Key User Frustrations
                    .column.is-8.is-offset-1-desktop
                        %p Through our research and understanding of the problem, we identified the main areas that needed attention to improve navigation and boost overall customer satisfaction with the brand.
                        .main-concerns__concerns-wrapper
                            .columns.is-multiline.is-variable.is-8-desktop
                                .column.is-6
                                    .main-concerns__concerns-box
                                        .concerns-box__img-wrapper
                                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/concerns-icon-01.png"
                                        %h4 Outdated Website
                                        %p An outdated website and unreliable IT services raised red flags for clients, signaling a lack of trust and professionalism. These issues directly affect the company's credibility and ability to retain customers in a digital-first world.
                                .column.is-6
                                    .main-concerns__concerns-box
                                        .concerns-box__img-wrapper
                                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/concerns-icon-02.png"
                                        %h4 Financial Literacy
                                        %p Low financial literacy can make the personal loan process confusing and overwhelming, leading to missed details or poor decisions. Empowering customers with clear, accessible information builds confidence and encourages more responsible borrowing.
                                .column.is-6
                                    .main-concerns__concerns-box
                                        .concerns-box__img-wrapper
                                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/concerns-icon-05.png"
                                        %h4 Trust
                                        %p A lack of trust and transparency can make customers hesitant to apply for a personal loan, fearing hidden fees or unclear terms. This uncertainty slows down the decision-making process and can drive potential borrowers to look elsewhere.
                                .column.is-6
                                    .main-concerns__concerns-box
                                        .concerns-box__img-wrapper
                                            = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/concerns-icon-03.png"
                                        %h4 Digital Loan Management
                                        %p The ability to manage loans digitally gives customers convenience, control, and confidence. Without it, the process feels outdated and frustrating, making it harder to stay on top of payments and reducing overall satisfaction.
        .case-study__project-goals
            .anchor#goals
            .container
                .columns
                    .column.is-3
                        %h5 Objectives
                        %h3 Revewing project goals
                    .column.is-8.is-offset-1
                        %p While the main business goals focused on increasing conversions and generating more leads, our research helped us understand where the company's goals aligned with the needs of its customers.
                        %p Our goal was to improve the overall experience by reimagining the user journey around what Island Finance customers needed. We wanted the company to come across as a trusted and approachable partner, not just a lender. The project focused on giving users the confidence to make informed financial decisions and manage their loans with ease, helping them feel more in control of their finances and improving their daily lives, while still supporting the company's growth.
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/if-goals.png"
        .case-study__features
            .anchor#features
            .container
                .columns
                    .column.is-3
                        %h5 Features
                        %h3 Transforming needs into features
                    .column.is-8.is-offset-1
                        %p
                            Based on the user needs identified during the empathizing phase, I decided to focus on a few key features to enhance customer's experience.
                        .columns.is-multiline.is-variable.is-3-desktop
                            .column.is-6
                                .case-study-feature
                                    %h4 Loan Calculator
                                    %p Helps users explore their options risk free. It clearly presents loan details, prevents surprises about future charges, and builds trust. At the same time, it provides an easy way for the business to collect qualified leads.
                            .column.is-6
                                .case-study-feature
                                    %h4 Online Application
                                    %p Makes it easy for users to apply anytime, from any device. It guides them through each step with clear instructions and built-in validation to reduce errors and confusion.
                            .column.is-6
                                .case-study-feature
                                    %h4 Online Payments
                                    %p Gives users a simple and secure way to manage their loans. It reduces the need for branch visits, saves time, and encourages on-time payments through clear guidance and easy access from any device.
                            .column.is-6
                                .case-study-feature
                                    %h4 Loan Dashboard
                                    %p Users a clear overview of their account in one place. They can track balances, upcoming payments, and loan details at a glance. It simplifies management, builds confidence, and helps users stay informed and in control of their finances.
        .case-study__user-flows
            .anchor#flows
            .container
                .columns
                    .column.is-3
                        %h5 User Flows
                        %h3 Identifying how users complete tasks
                    .column.is-8.is-offset-1
                        %p To truly support users, I needed to understand how they actually got things done, how they navigate, what they expect, and where they might hesitate. Mapping their steps helped us design flows that feel natural, supportive, and frustration-free.
                        %h4 Applying for a loan through nav bar button:
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Request-a-loan-1.png", :class => "user-flows__img"
                        %h4 Applying for a loan through the calculator:
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Request-a-loan-2.png", :class => "user-flows__img"
                        %h4 Making a payment:
                        = image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Make-a-payment.png", :class => "user-flows__img"
        .case-study__desing-system
            .anchor#design
            .container
                .columns
                    .column.is-3
                        %h5 Design
                        %h3 Design System & Style guide
                    .column.is-8.is-offset-1
                        =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/if-web-colors.png"
                        =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/style-guide-if.png"
        .case-study__hifi-wireframes
            .anchor#highfi
            .hifi-wireframes__main-visual
                .container
                    %h5 High-fi Wireframes
                    %h3 Introducing Island Finance
                    %p A personal loan experience designed to feel simple, clear, and trustworthy. From the first screen to the final step, every detail was crafted to guide users smoothly and make financial decisions less intimidating.
                    .btn__wrapper
                        = link_to "View Wireframes", "https://xd.adobe.com/view/1e1ff4df-ea06-42fb-9f58-5e2db1da0c82-4b4c/", :class => "btn", :target => "blank"
                    .img__wrapper
                        = video_tag("https://nicolada-website.s3.us-east-1.amazonaws.com/IF-Home.mp4", :autobuffer => "true", :autoplay => "true", :loop => "true", :muted => "true", :controls => "true" )
            .hifi-wireframes__loan-options
                .container
                    %h4 Simplifying the Loan Decision Journey
                    %p To make the decision-making process feel easy and transparent and help users feel supported, I designed this page to balance education, reassurance, and action. It starts by answering the first thing most users want to know: “Is this loan actually a good fit for me?” with a quick breakdown of the key benefits.
                    %p From there, I added customer reviews to build trust. A simple “what you’ll need” checklist sets expectations early, reducing stress or potential abandonment later in the flow. The 3-step overview keeps the process approachable, and the FAQs address common concerns upfront so users don’t have to hunt for answers.
                    .columns
                        .column.is-4
                            .img__wrapper
                                =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Loan+Options.jpg"
                        .column.is-8
                            .img__wrapper
                                = video_tag("https://nicolada-website.s3.us-east-1.amazonaws.com/IF+Loan.mp4", :autobuffer => "true", :autoplay => "true", :loop => "true", :muted => "true", :controls => "true" )
            .hifi-wireframes__loan-calculator.is-hidden-touch
                .columns.is-variable.is-gapless
                    .column.is-2-fullhd.is-3-widescreen
                        .loan-calculator__text-wrapper
                            %h4
                                Designing a Win–Win
                                %br
                                Loan Calculator Experience
                            %p I designed a loan calculator that lets users explore estimated payments without affecting their credit, paired with a transparent breakdown of rates and fees. After checking their rate, users can create an account to save their progress and later manage their loan online. From a business side, collecting contact details at this stage helps nurture potential applicants and improve conversions.
                    .column.is-5
                        .img__wrapper
                            =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/IF-Calculator.png"
                    .column.is-5-fullhd.is-4-widescreen
                        .img__wrapper
                            =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Island+Finance+Sign+Up.png", :class => "hifi__signup-img"
            .hifi-wireframes__loan-calculator.is-hidden-desktop
                .columns.is-variable.is-multiline
                    .column.is-12
                        .loan-calculator__text-wrapper
                            %h4
                                Designing a Win–Win
                                %br
                                Loan Calculator Experience
                            %p I designed a loan calculator that lets users explore estimated payments without affecting their credit, paired with a transparent breakdown of rates and fees. After checking their rate, users can create an account to save their progress and later manage their loan online. From a business side, collecting contact details at this stage helps nurture potential applicants and improve conversions.
                    .column.is-6
                        .img__wrapper
                            =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/IF-Calculator.png"
                    .column.is-6
                        .img__wrapper
                            =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Island+Finance+Sign+Up.png", :class => "hifi__signup-img"
            .hifi-wireframes__loan-application
                .container
                    .loan-application__text-wrapper
                        %h4 Making Applications Feel Easy
                        %p Form fatigue is common in financial applications, so I focused on making a step-by-step loan application that helps users see their progress and stay engaged. At the end, transparent fees and flexible loan options help users choose what best fits their needs and budget.
                    .columns.is-multiline
                        .column.is-8
                            .img__wrapper
                                =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Island+Finance+Loan+Information.png"
                        .column.is-4.is-hidden-mobile
                            .img__wrapper
                                =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Loan+Application.jpg"

            .hifi-wireframes__account.short
                .container
                    .columns.masonry
                        .column.is-6
                            .columns.is-multiline
                                .column.is-12
                                    .account__text-wrapper
                                        %h4 Helping Users Stay in Control After Approval
                                        %p To help users avoid feeling lost after their loan is approved and improve self-service, I designed a dashboard that gives them full visibility and control over their account. Users can easily track payments, review documents, manage autopay, and adjust settings, all in one space. This helps prevent missed payments and builds confidence in managing their finances.
                                .column.is-12
                                    .img__wrapper
                                        =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Island+Finance+Dashboard.png"
                                .column.is-12
                                    .img__wrapper
                                        =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Island+Finance+Payment.png"
                        .column.is-6
                            .img__wrapper
                                =image_tag "https://nicolada-website.s3.us-east-1.amazonaws.com/Island+Finance+Settings.png"
        .case-studies__navigation-wrapper.if-web-short
            .container
                .columns.is-mobile
                    .column.is-12-tablet
                        = link_to "/ux-ui/dr-harveys", :class => "navigation-button" do
                            %p.next-btn
                                %span
                                    Next: Dr. Harvey's
                                =image_tag "arrow-right", :class => "arrow-right"
                        